<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/index.js}"></script>
    <title th:text="${title}"></title>
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="nav-wrapper">
            <div class="logo"><a href="/master/users">AMA</a></div>
            <div class="menu">
                <ul>
                    <li><a href="/master/users">ユーザ管理</a></li>
                    <li><a href="/master/users">勤務場所管理</a></li>
                    <li><a href="/master/worktime">勤務時間集計</a></li>
                    <li>
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" value="ログアウト">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>