<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{master/common::head(title='ユーザ管理')}">
</head>
<body>
    <div th:replace="~{master/common::header}"></div>
    <div class="wrap-contents">
        <p th:text="${msg}" class="msg"></p>
        <h2>ユーザ一覧</h2>
        <div class="contents">
            <button type="button" class="btn" onclick="location.href='/master/user/add'">新規登録</button>
            <table class="table">
                <tr>
                    <th>ログインID</th>
                    <th style="width: 40%;">氏名</th>
                    <th>所属</th>
                    <th>権限</th>
                    <th>連絡先</th>
                </tr>
                <tr th:each="user : ${users}">
                    <!--ユーザID-->
                    <td th:text="${user.userId}"></td>
                    <!--名前-->
                    <td><a class="user-name-link" th:href="@{'user/edit/'+${user.id}}" th:text="${user.name}"></a></td>
                    <!--所属-->
                    <td th:text="${user.department}"></td>
                    <!--権限-->
                    <td th:text="${user.role == 'USER'} ? '一般' : '管理者'"></td>
                    <!--連絡先-->
                    <th:block th:if="${(user.email == null || user.email.isEmpty()) && (user.tel == null || user.tel.isEmpty())}">
                        <td>登録なし</td>
                    </th:block>
                    <th:block th:unless="${(user.email == null || user.email.isEmpty()) && (user.tel == null || user.tel.isEmpty())}">
                        <td><a class="user-name-link" th:href="@{'user/address/'+${user.id}}">連絡先</a></td>
                    </th:block>
                </tr>
            </table>
            <div th:if="${users.size() > 0}">
                <ul class="page">
                    <li class="items">
                        <span th:if="${page.first}">&lt;&lt;最初へ</span>
                        <a
                                th:if="${!page.first}" th:href="@{users(page = 0)}"
                        >
                            &lt;&lt;最初へ
                        </a>
                    </li>
                    <li class="items">
                        <span th:if="${page.first}">&lt;前</span>
                        <a
                                th:if="${!page.first}"
                                th:href="@{users(page = ${page.number} - 1)}"
                        >
                            &lt;前
                        </a>
                    </li>
                    <!--可変-->
                    <li class="items"
                        th:if="${page.totalPages <= 5}"
                        th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    >
                        <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}"></span>
                        <a
                                th:if="${i} != ${page.number}"
                                th:href="@{users(page = ${i})}"
                        >
                            <span class="other-page" th:text="${i+1}">1</span>
                        </a>
                    </li>
                    <li class="items"
                        th:if="${page.totalPages > 5 && page.number < 3}"
                        th:each="i : ${#numbers.sequence(0, 4)}"
                    >
                        <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}"></span>
                        <a
                                th:if="${i} != ${page.number}"
                                th:href="@{users(page = ${i})}"
                        >
                            <span class="other-page" th:text="${i+1}">1</span>
                        </a>
                    </li>
                    <li class="items"
                        th:if="${page.totalPages > 5 && 2 < page.number && page.number < page.totalPages - 3}"
                        th:each="i : ${#numbers.sequence(page.number - 2, page.number + 2)}"
                    >
                        <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}"></span>
                        <a
                                th:if="${i} != ${page.number}"
                                th:href="@{users(page = ${i})}"
                        >
                            <span class="other-page" th:text="${i+1}">1</span>
                        </a>
                    </li>
                    <li class="items"
                        th:if="${page.totalPages > 5 && page.number >= page.totalPages - 3}"
                        th:each="i : ${#numbers.sequence(page.totalPages - 5, page.totalPages - 1)}"
                    >
                        <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}"></span>
                        <a
                                th:if="${i} != ${page.number}"
                                th:href="@{users(page = ${i})}"
                        >
                            <span class="other-page" th:text="${i+1}">1</span>
                        </a>
                    </li>
                    <!--可変終わり-->
                    <li class="items">
                        <span th:if="${page.last}">次&gt;</span>
                        <a
                                th:if="${!page.last}"
                                th:href="@{users(page = (${page.number} + 1))}"
                        >
                            次&gt;
                        </a>
                    </li>
                    <li class="items">
                        <span th:if="${page.last}">最後へ&gt;&gt;</span>
                        <a
                                th:if="${!page.last}" th:href="@{users(page = ${page.totalPages} - 1)}"
                        >
                            最後へ&gt;&gt;
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>