<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{master/common::head(title='ユーザ登録')}">
</head>
<body>
    <div th:replace="~{master/common::header}"></div>
    <div class="contents">
        <h2>ユーザ新規登録</h2>
        <form th:action="@{/master/user/create}" method="POST">
            <p>名前</p>
            <input type="text" name="name" class="io-tag">
            <p>ログインID</p>
            <input type="text" name="userId" class="io-tag">
            <p>パスワード</p>
            <input type="password" name="password" class="io-tag">
            <p>
                所属
                <select>
                    <option>開発部</option>
                    <option>営業部</option>
                    <option>人事部</option>
                </select>
            </p>
            <p>
                権限
                <select name="role">
                    <option value="USER">一般</option>
                    <option value="ADMIN">管理者</option>
                </select>
            </p>
            <p><input type="submit" class="btn login-btn" value="新規登録"></p>
        </form>
    </div>
</body>
</html>