<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{user/common::head(title='連絡先登録')}">
</head>
<body>
    <div th:replace="~{user/common::header}"></div>
    <div class="contents">
        <h2>連絡先登録</h2>
        <form th:action="@{/address/add}" method="POST" th:object="${addressAddForm}">
            <p><span class="errorMsg">※</span> メールアドレス</p>
            <input type="email"  name="email" class="io-tag" th:value="${user.email}"  placeholder="xxx@xxx.xxx" th:field="*{email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorMsg"></div>


            <p><span class="errorMsg">※</span> 電話番号</p>
            <input type="text"  name="tel" class="io-tag" th:value="${user.tel}" th:field="*{tel}" placeholder="000-0000-0000">
            <div th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="errorMsg"></div>

            <p>備考</p>
            <input type="text" class="io-tag" name="remarks" th:value="${user.remarks}">
            <p><input type="submit" class="btn" value="登録"></p>
        </form>
    </div>
</body>
</html>