<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{user/common::head(title='連絡先登録')}">
</head>
<body>
    <div th:replace="~{user/common::header}"></div>
    <div class="wrap-contents wrap-small-contents">
        <h2>連絡先登録</h2>
        <div class="contents">
            <form th:action="@{/address/add}" method="POST" th:object="${addressAddForm}">
                <p><label for="email"><span class="msg">※</span> メールアドレス</label></p>
                <input type="email" id="email" name="email" class="io-tag" th:value="${user.email}"  placeholder="xxx@xxx.xxx" th:field="*{email}">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="msg"></div>


                <p><label for="tel"><span class="msg">※</span> 電話番号</label></p>
                <input type="text" id="tel" name="tel" class="io-tag" th:value="${user.tel}" th:field="*{tel}" placeholder="000-0000-0000">
                <div th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="msg"></div>

                <p><label for="remarks">備考</label></p>
                <input type="text" class="io-tag" id="remarks" name="remarks" th:value="${user.remarks}">
                <p><input type="submit" class="btn" value="登録"></p>
            </form>
        </div>
    </div>
</body>
</html>