<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{user/common::head(title='勤怠履歴')}">
</head>
<body>
    <div th:replace="~{user/common::header}"></div>
    <div class="contents">
        <h2>勤怠履歴</h2>
        <table class="table">
            <tr>
                <th>日付</th>
                <th>開始</th>
                <th>終了</th>
                <th>休憩</th>
                <th>総労働時間</th>
            </tr>
            <tr th:each="attendance : ${data}">
                <td th:text="${#temporals.format(attendance.date, 'yyyy/MM/dd')}"></td>
                <td th:text="${attendance.begin_time}"></td>
                <td th:text="${attendance.end_time != null}? ${attendance.end_time} : '--:--'"></td>
                <td th:text="${attendance.rest_time != null} ? ${attendance.rest_time} : '--:--'"></td>
                <td th:text="${attendance.working_time != null} ? ${attendance.working_time} : '--:--'">

            </tr>
        </table>
    </div>
</body>
</html>