<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head th:replace="~{user/common::head(title='勤怠履歴')}">
</head>
<body>
    <div th:replace="~{user/common::header}"></div>
    <div class="contents">
        <h2>勤怠履歴</h2>
        <table class="table">
            <tr>
                <th>日付</th>
                <th>開始</th>
                <th>終了</th>
                <th>休憩</th>
                <th>総労働時間</th>
            </tr>
            <tr th:each="attendance : ${History}">
                <td th:text="${#temporals.format(attendance.date, 'yyyy/MM/dd')}"></td>
                <td th:text="${attendance.beginTime}"></td>
                <td th:text="${attendance.endTime != null}? ${attendance.endTime} : '--:--'"></td>
                <td th:text="${attendance.restTime != null} ? ${attendance.restTime} : '--:--'"></td>
                <td th:text="${attendance.workingTime != null} ? ${attendance.workingTime} : '--:--'">

            </tr>
        </table>
        <div>
            <ul class="page">
                <li class="items">
                    <span th:if="${page.first}">&lt&lt;最初へ</span>
                    <a
                        th:if="${!page.first}" th:href="@{history(page = 0)}"
                    >
                        &lt&lt最初へ
                    </a>
                </li>
                <li class="items">
                    <span th:if="${page.first}">&lt前</span>
                    <a
                            th:if="${!page.first}"
                            th:href="@{history(page = ${page.number} - 1)}"
                    >
                        &lt前
                    </a>
                </li>
                <!--可変-->
                <li class="items"
                        th:if="${page.totalPages <= 5}"
                        th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                >
                    <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
                    <a
                            th:if="${i} != ${page.number}"
                            th:href="@{history(page = ${i})}"
                    >
                        <span class="other-page" th:text="${i+1}">1</span>
                    </a>
                </li>
                <li class="items"
                    th:if="${page.totalPages > 5 && page.number < 3}"
                    th:each="i : ${#numbers.sequence(0, 4)}"
                >
                    <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
                    <a
                            th:if="${i} != ${page.number}"
                            th:href="@{history(page = ${i})}"
                    >
                        <span class="other-page" th:text="${i+1}">1</span>
                    </a>
                </li>
                <li class="items"
                    th:if="${page.totalPages > 5 && 2 < page.number && page.number < page.totalPages - 3}"
                    th:each="i : ${#numbers.sequence(page.number - 2, page.number + 2)}"
                >
                    <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
                    <a
                            th:if="${i} != ${page.number}"
                            th:href="@{history(page = ${i})}"
                    >
                        <span class="other-page" th:text="${i+1}">1</span>
                    </a>
                </li>
                <li class="items"
                    th:if="${page.totalPages > 5 && page.number >= page.totalPages - 3}"
                    th:each="i : ${#numbers.sequence(page.totalPages - 5, page.totalPages - 1)}"
                >
                    <span class="now-page" th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
                    <a
                            th:if="${i} != ${page.number}"
                            th:href="@{history(page = ${i})}"
                    >
                        <span class="other-page" th:text="${i+1}">1</span>
                    </a>
                </li>
                <!--可変終わり-->
                <li class="items">
                    <span th:if="${page.last}">次&gt;</span>
                    <a
                            th:if="${!page.last}"
                            th:href="@{history(page = (${page.number} + 1))}"
                    >
                        次&gt;
                    </a>
                </li>
                <li class="items">
                    <span th:if="${page.last}">最後へ&gt&gt</span>
                    <a
                            th:if="${!page.last}" th:href="@{history(page = ${page.totalPages} - 1)}"
                    >
                        最後へ&gt&gt
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>