body
{
    font-family: Noto Sans JP,Helvetica,Arial,sans-serif;
    margin: 0;
    min-width: 1050px;
    font-size: 21px;
}

p
{
    margin-bottom: 5px;
}

.io-tag
{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.textarea
{
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.header
{
    width: 100%;
    background-color: #dbffe7;
    box-shadow: 0 2px 0 0 rgba(0, 128, 0, 0.33);
}

.wrap-contents
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin: 50px auto;
    max-width: 80%;
}

.contents
{
    padding: 20px 0;
    background-color: #ddffdd;
    box-shadow: 3px 3px 0 0 rgba(0, 128, 0, 0.33);
}

.logo, .nav-wrapper
{
    display: flex;
    align-items: center;
}

.nav-wrapper
{
    justify-content: space-between;
    height: 80px;
    padding: 0 56px;
}

.logo
{
    font-size: 52px;
    font-weight: 800;
    color: green;
}

.logo a
{
    text-decoration: none;
    color: green;
}

ul
{
    list-style: none;
}

ul.page
{
    padding: 0;
}

.page li{
    display: inline;
    background-color: #fff;
    border-radius: 5px;
}

.page li:hover{
    background: #00800099;
}

.page li > a:hover{
    text-decoration: underline;
    color: #fff;
}

.page .items {
    padding: 8px 16px;
    border: 1px solid green;
}

.items a{
    text-decoration-line: none;
}

.menu > ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu > ul > li
{
    margin-left: 20px;
}

.menu > ul > li > a
{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}

.menu > ul > li > a:hover
{
    color: red;
    opacity: 0.7;
    transition: 0.2s;
}

.btn
{
    background-color: green;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 12px;
    margin: 0 10px;
}
.btn:hover
{
    opacity: 0.7;
}

.btn.delete-btn
{
    background: red;
}

.btn.back-btn
{
    background: gray;
    scale: 0.9;
}

.btn.home-btn
{
    height: 100px;
    width: 200px;
    border-radius: 5px;
    font-size: 30px;
}

.menu-list
{
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu-list > li
{
    margin: 15px 8px;
}

.table
{
    margin: 0 auto;
    table-layout: fixed;
    width: 90%;
    font-size: 20px;
    border: 3px solid green;
    border-radius: 5px;
    margin-top: 20px;
}

.table th
{
    background-color: green;
    font-weight: bold;
    color: #fff;
    height: 42px;
}

.table tr
{
    border-bottom: 3px solid green;
    background-color: #fff;
}

.table td
{
    text-align: center;
    border-top: 3px solid green;
    padding: 5px 0;
}

.msg
{
    color: red;
}

/* ボタン風のaタグのスタイル */
.btn-link {
    display: inline-block;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 4px;
    cursor: pointer;
}

/* マウスホバー時のスタイル */
.btn-link:hover {
    transition: 0.1s;
    background-color: #00800099;
    color: white;
    text-decoration: underline;
}

.select-month
{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-month
{
    margin: 0 30px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.select-box
{
    font-size: 20px;
}

.login-form
{
    margin-bottom: 20px;
}

.logout-btn
{
    cursor: pointer;
    border: 2px solid red;
    border-radius: 4px;
    color: white;
    background: red;
}
.logout-btn:hover
{
    background: #ff4c4c;
    border-color: #ff4c4c;
    text-decoration: underline;
}

.header-btn
{
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 100px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.header-btn:hover
{
    color: white;
    background-color: green;
    text-decoration: underline;
    transition: 0.3s;
}

a.user-name-link
{
    position: relative;
    color: blue;
    transition: transform 0.4s;
}
a.user-name-link:hover
{
    color: green;
    text-decoration: none;
}
/* ホバー時に::after疑似要素を表示 */
a.user-name-link:hover::after
{
    content: '▶'; /* 追加の文字列 */
    position: absolute;
    right: 105%; /* リンクの右側に配置 */
    top: 0;
    padding-left: 5px; /* 追加文字とリンク文字の間隔 */
    color: green; /* 追加文字の色 */
    font-size: 0.8em; /* 追加文字のフォントサイズ */
}