body
{
    font-family: Noto Sans JP,Helvetica,Arial,sans-serif;
    margin: 0;
    min-width: 1050px;
    font-size: 21px;
}

p
{
    margin-bottom: 5px;
}

.io-tag
{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.textarea
{
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.header
{
    width: 100%;
    background-color: #dbffe7;
    box-shadow: 0 2px 0 0 rgba(0, 128, 0, 0.33);
}

.contents
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.logo, .nav-wrapper
{
    display: flex;
    align-items: center;
}

.nav-wrapper
{
    justify-content: space-between;
    height: 80px;
    padding: 0 56px;
}

.logo
{
    font-size: 52px;
    font-weight: 800;
    color: green;
}

.logo a
{
    text-decoration: none;
    color: green;
}

ul
{
    list-style: none;
}

.menu > ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu > ul > li
{
    margin-left: 20px;
}

.menu > ul > li > a
{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}

.menu > ul > li > a:hover
{
    color: red;
    opacity: 0.7;
    transition: 0.2s;
}

.btn
{
    background-color: green;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover
{
    opacity: 0.7;
}

.btn.home-btn
{
    height: 100px;
    width: 200px;
    border-radius: 5px;
    font-size: 30px;
}

.menu-list
{
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu-list > li
{
    margin: 15px 8px;
}

.table
{
    margin: 0 auto;
    table-layout: fixed;
    width: 70%;
    font-size: 20px;
    border: 3px solid green;
    border-radius: 5px;
    margin-top: 20px;
}

.table th
{
    background-color: green;
    font-weight: bold;
    color: #fff;
    height: 42px;
}

.table tr
{
    border-bottom: 3px solid green;
}

.table td
{
    text-align: center;
    border-top: 3px solid green;
    padding: 5px 0;
}