<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>ログイン</title>
</head>
<body>
    <header class="header">
        <div class="nav-wrapper">
            <div class="logo">AMA</div>
        </div>
    </header>
    <div class="wrap-contents wrap-small-contents">
        <h2>ログイン</h2>
        <div class="contents">
            <div class="msg" th:text="${errorMsg}"></div>
            <form th:action="@{/login}" method="POST">
                <div class="login-form">
                    <p>ユーザID</p>
                    <input type="text" name="userId" class="io-tag">
                    <p>パスワード</p>
                    <input type="password" name="password" class="io-tag">
                </div>
                <p><input type="submit" class="btn login-btn" value="ログイン"></p>
            </form>
        </div>
    </div>
</body>
</html>